/* /Pages/Experience/Components/ExperienceDotLine/ExperienceDotLine.razor.rz.scp.css */
.experience-line[b-03jcceq4ui], .first-experience-line[b-03jcceq4ui]  {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40px;
}

    .experience-line[b-03jcceq4ui]::after, .first-experience-line[b-03jcceq4ui]::after {
        content: "";
        position: absolute;
        background-color: #a8a8a7;
        width: 3px;
        top: 0;
        bottom: 0;
        left: 50%;
        margin-left: -1px;
        box-shadow: 0 1px 12px 0 rgba(30, 32, 34, 0.25);
    }

    .first-experience-line[b-03jcceq4ui]::after {
        top: 20px;
    }

.experience-dot[b-03jcceq4ui] {
    content: "";
    position: absolute;
    background-color: var(--atMediumGrey);
    width: 24px;
    height: 24px;
    top: 30%;
    bottom: 0;
    left: 21%;
    border-radius: 4px;
    box-shadow: 0 1px 12px 0 rgba(30, 32, 34, 0.25);
    z-index: 1;
}

@media (max-width: 540px) {
    .experience-dot[b-03jcceq4ui] {
        top: 20%;
    }
}
/* /Pages/Experience/Components/ExperienceItem/ExperienceItem.razor.rz.scp.css */
h1[b-rnx9g6avpv] {
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 0;
}

span[b-rnx9g6avpv] {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 2px;
}

.last-span[b-rnx9g6avpv] {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 12px;
}

.item-container[b-rnx9g6avpv] {
    display: flex;
    flex-direction: column;
}

.item-information[b-rnx9g6avpv] {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 4px;
}

@media (max-width: 540px) {
    h1[b-rnx9g6avpv] {
        font-size: 32px;
    }

    span[b-rnx9g6avpv] {
        font-size: 18px;
        width: 65vw;
    }
}
/* /Pages/Experience/Experience.razor.rz.scp.css */
h1[b-auu7zjx8tm] {
    font-size: 48px;
    font-weight: 700;
}

.experience-container[b-auu7zjx8tm] {
    background-color: rgba(253, 253, 253, 0.5);
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 48px;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 1px 1px 16px 0 rgba(30, 32, 34, .25);
}

.experience-list[b-auu7zjx8tm] {
    padding-inline: 16px;
    margin-top: 4px;
    overflow-y: scroll;
}

@media (max-width: 540px) {
    h1[b-auu7zjx8tm] {
        font-size: 32px;
    }

    .experience-container[b-auu7zjx8tm] {
        height: unset;
        margin: 0;
        padding-bottom: 108px;
        border-radius: 0;
        box-shadow: unset;
    }

    .experience-list[b-auu7zjx8tm] {
        padding-inline: 8px;
    }
}
/* /Pages/Home/Home.razor.rz.scp.css */
h1[b-tjgow70iev] {
    font-size: 48px;
    font-weight: 700;
}

h2[b-tjgow70iev] {
    font-size: 28px;
    font-weight: 600;
}

p[b-tjgow70iev] {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.6;
    margin-bottom: 0.4rem;
}

.home-container[b-tjgow70iev] {
    display: flex;
    flex-direction: column;
    color: var(--atDark);
}

.home-profile[b-tjgow70iev] {
    display: flex;
    height: 77vh;
    flex-direction: row;
    align-items: center;
    gap: 28px;
    padding-inline: 88px;
}

.home-profile-picture img[b-tjgow70iev] {
    width: 300px;
    border-radius: 8px;
    filter: grayscale(0.2);
    box-shadow: 0 2px 16px 0 rgba(30, 32, 34, 0.25);
}

.home-more-arrow[b-tjgow70iev] {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    margin-top: 10px;
}

.home-professional[b-tjgow70iev] {
    display: flex;
    flex-direction: column;
    margin-top: 48px;
    margin-bottom: 64px;
}

.home-professional-item[b-tjgow70iev] {
    background-color: var(--atWhite);
    background-size: cover;
    background-position: bottom;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    height: 77vh;
    padding-inline: 114px;
    border-top: 1px solid rgba(72, 83, 94, 0.45);
}

    .home-professional-item > i[b-tjgow70iev] {
        font-size: 200px;
        color: var(--atMediumGrey);
        text-shadow: 0 1px 12px rgba(34, 37, 44, 0.15);
    }

    .home-professional-item:first-of-type[b-tjgow70iev] {
        background-image: url('../img/general/fauxels-teamwork-white-edit.jpg');
    }

    .home-professional-item:nth-of-type(2)[b-tjgow70iev] {
        background-image: url('../img/general/blurier-code-white-edit.jpg');
    }

    .home-professional-item:last-of-type[b-tjgow70iev] {
        height: 48vh;
    }

.professional-item-description[b-tjgow70iev] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

    .professional-item-description > p[b-tjgow70iev] {
        font-size: 18px;
    }

[b-tjgow70iev] .nav-link {
    color: var(--atSteelBlue);
    font-size: 18px;
    font-weight: 600;
    text-decoration: underline;
    text-underline-position: under;
    padding: 0;
}

    [b-tjgow70iev] .nav-link:hover {
        color: var(--atLightBlue);
    }

.professional-contact[b-tjgow70iev] {
    background-color: rgba(244, 244, 242, 0.5);
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.contact-item[b-tjgow70iev] {
    display: flex;
    flex-direction: row;
    gap: 6px;
}

    .contact-item > i[b-tjgow70iev], 
    .contact-item > span[b-tjgow70iev] {
        font-size: 20px;
        font-weight: 500;
    }

@media (max-width: 540px) {
    h1[b-tjgow70iev] {
        font-size: 32px;
    }

    h2[b-tjgow70iev] {
        font-size: 20px;
    }
    
    p[b-tjgow70iev], .professional-item-description > p[b-tjgow70iev], [b-tjgow70iev] .nav-link, .contact-item > span[b-tjgow70iev] {
        font-size: 16px;
    }

    .home-container[b-tjgow70iev] {
        margin-top: 32px;
    }

    .home-profile[b-tjgow70iev] {
        display: flex;
        flex-direction: column;
        height: 70vh;
        padding-top: 12px;
        padding-inline: 24px;
        gap: 28px;
        text-align: center;
    }

    .home-profile-picture[b-tjgow70iev] {
        display: flex;
        justify-content: center;
    }

        .home-profile-picture img[b-tjgow70iev] {
            width: 60%;
        }

    .home-professional[b-tjgow70iev] {
        display: flex;
        flex-direction: column;
        margin-top: 16px;
        margin-bottom: 0;
        padding-inline: 0;
        padding-bottom: 8px;
    }

    .home-professional-item[b-tjgow70iev] {
        flex-direction: column;
        justify-content: center;
        height: 55vh;
        padding-inline: 24px;
        padding-bottom: 46px;
        gap: 0;
    }

        .home-professional-item > i[b-tjgow70iev] {
            font-size: 108px;
            height: 160px;
        }

        .home-professional-item:last-of-type[b-tjgow70iev] {
            height: 40vh;
            padding-bottom: 0;
        }
}
/* /Pages/MyProject/Components/ProjectCard.razor.rz.scp.css */
h4[b-kskw8u6pgk] {
    font-size: 24px;
    font-weight: 600;
}

    h4 > a[b-kskw8u6pgk] {
        color: inherit;
        text-decoration: none;
    }

    h4 > a:hover[b-kskw8u6pgk] {
        color: var(--atMediumGrey);
    }

h5[b-kskw8u6pgk] {
    font-size: 20px;
    font-weight: 500;
    color: var(--atLightGrey);
}

p[b-kskw8u6pgk] {
    font-size: 16px;
    font-weight: 500;
}

.project-card[b-kskw8u6pgk] {
    display: flex;
    flex-direction: column;
    background-color: #fdfdfd;
    border: 1px solid rgba(30, 32, 34, 0.25);
    box-shadow: 0 1px 12px 0 rgba(30, 32, 34, 0.25);
    border-radius: 12px;
    overflow: hidden;
    isolation: isolate;
    transition: .25s;
}

.project-card-image[b-kskw8u6pgk] {
    background-color: var(--atLightGrey);
    width: 100%;
    height: 18vw;
    object-fit: cover;
}

.project-card-description[b-kskw8u6pgk] {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    color: var(--atDark);
    margin: 16px;
}

    .project-card-description:last-child[b-kskw8u6pgk] {
        align-items: flex-end;
    }

@media (max-width: 1024px) {
    .project-card-image[b-kskw8u6pgk] {
        height: 24vw;
    }
}

@media (max-width: 540px) {
    .project-card-image[b-kskw8u6pgk] {
        height: 60vw;
    }
}
/* /Pages/MyProject/MyProject.razor.rz.scp.css */
h1[b-jlvm4b82pp] {
    font-size: 48px;
    font-weight: 700;
}

h4[b-jlvm4b82pp] {
    font-size: 28px;
    font-weight: 600;
}

hr[b-jlvm4b82pp] {
    background-color: rgba(72, 83, 94, 0.45);
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    opacity: 1;
}

.project-container[b-jlvm4b82pp] {
    background-color: rgba(253, 253, 253, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 48px;
    margin-inline: 48px;
    margin-bottom: 120px;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 1px 1px 16px 0 rgba(30, 32, 34, .25);
}

.project-list[b-jlvm4b82pp] {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-block: 8px;
    gap: 16px;
}

@media (max-width: 1024px) {
    .project-list[b-jlvm4b82pp] {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 540px) {
    h1[b-jlvm4b82pp] {
        font-size: 32px;
    }

    .project-container[b-jlvm4b82pp] {
        height: unset;
        margin: 0;
        padding-top: 24px;
        padding-inline: 24px;
        padding-bottom: 88px;
        border-radius: 0;
        box-shadow: unset;
    }

    .project-list[b-jlvm4b82pp] {
        display: flex;
        flex-direction: column;
    }
}
/* /Pages/ProjectDetail/Components/ProjectDetailDescription/ProjectDetailDescription.razor.rz.scp.css */
.project-detail-description-container[b-0lefnb5514] {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
}

.project-detail-cover[b-0lefnb5514] {
    width: 45%;
}

    .project-detail-cover img[b-0lefnb5514] {
        width: 100%;
        height: 90%;
        object-fit: cover;
        border-radius: 8px;
        transition: .25s;
        box-shadow: 0 1px 12px 0 rgb(30, 32, 34, 0.25);
    }

    .project-detail-cover img:hover[b-0lefnb5514] {
        box-shadow: 0 1px 16px 0 rgba(30, 32, 34, 0.75);
    }

.project-detail-description[b-0lefnb5514] {
    width: 50%;
}

    .project-detail-description[b-0lefnb5514]  p {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.6;
        text-align: left;
        color: var(--atDark);
    }

    .project-detail-description[b-0lefnb5514]  a {
        color: var(--atSteelBlue);
        font-weight: 600;
        text-decoration: underline;
        text-underline-position: under;
    }

    .project-detail-description[b-0lefnb5514]  a:hover {
        color: var(--atLightBlue);
    }

@media (max-width: 1024px) {
    .project-detail-description-container[b-0lefnb5514] {
        flex-direction: column;
    }

    .project-detail-cover[b-0lefnb5514], .project-detail-description[b-0lefnb5514] {
        width: 100%;
    }

    .project-detail-description[b-0lefnb5514]  p, .project-detail-image p[b-0lefnb5514] {
        font-size: 16px;
    }
}
/* /Pages/ProjectDetail/Components/ProjectDetailMedia/ProjectDetailMedia.razor.rz.scp.css */
.project-detail-media-container[b-khuqb08spi] {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-block: 12px;
    gap: 16px;
}

    .project-detail-media-container > a[b-khuqb08spi] {
        text-decoration: none;
    }

.project-detail-image-item[b-khuqb08spi] {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

    .project-detail-image-item img[b-khuqb08spi] {
        width: 100%;
        height: auto;
        border-radius: 8px;
        transition: .25s;
        box-shadow: 0 1px 12px 0 rgba(30, 32, 34, 0.25);
    }

    .project-detail-image-item img:hover[b-khuqb08spi] {
        box-shadow: 0 1px 16px 0 rgba(30, 32, 34, 0.75);
    }

    .project-detail-image-item p[b-khuqb08spi] {
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        color: var(--atDark);
        margin-bottom: 0;
    }

@media (max-width: 1024px) {
    .project-detail-media-container[b-khuqb08spi] {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 540px) {
    .project-detail-media-container[b-khuqb08spi] {
        display: flex;
        flex-direction: column;
    }
}
/* /Pages/ProjectDetail/Components/ProjectDetailTitleHeader/ProjectDetailTitleHeader.razor.rz.scp.css */
hr[b-dzoibof6q3] {
    background-color: rgba(72, 83, 94, 0.45);
    margin-block: 1rem;
    opacity: 1;
}

h2[b-dzoibof6q3] {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 0;
}

.project-detail-header-container[b-dzoibof6q3] {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.project-detail-header-content[b-dzoibof6q3] {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 12px;
    align-items: center;
    color: var(--atDark);
}

    .project-detail-header-content button[b-dzoibof6q3] {
        width: 64px;
        font-size: 32px;
        padding: 0;
    }

@media (max-width: 540px) {
    .project-detail-header-content[b-dzoibof6q3] {
        flex-wrap: wrap;
        row-gap: 8px;
    }
}
/* /Pages/ProjectDetail/ProjectDetail.razor.rz.scp.css */
a[b-atnu9i7key] {
    text-decoration: none;
}

.project-detail-main-container[b-atnu9i7key] {
    background-color: rgba(253, 253, 253, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 48px;
    margin-inline: 48px;
    margin-bottom: 120px;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 1px 1px 16px 0 rgba(30, 32, 34, .25);
}

@media (max-width: 540px) {
    .project-detail-main-container[b-atnu9i7key] {
        height: unset;
        margin: 0;
        padding-top: 24px;
        padding-inline: 24px;
        padding-bottom: 88px;
        border-radius: 0;
        box-shadow: unset;
    }
}
/* /Shared/DataLoadingView.razor.rz.scp.css */
.outer-container[b-vda8dfmkkv] {
    position: relative;
    margin-bottom: 4%;
    height: 75vh;
}

.loading-container[b-vda8dfmkkv] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
}

/**
* 
* Original code source: https://github.com/jh3y/whirl/blob/dist/css/traditional.css
*
*/
@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg); 
    } 
}
  
@keyframes spin-b-vda8dfmkkv {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg); 
    } 
}
  
/**
* Traditional
*
* @author jh3y
*/
.loading-traditional[b-vda8dfmkkv]::before {
    -webkit-animation: spin .5s infinite linear;
            animation: spin-b-vda8dfmkkv .5s infinite linear;
    border-radius: 100%;
    -webkit-box-shadow: inset -2px 0 0 0px #1e2022;
            box-shadow: inset -2px 0 0 0px #1e2022;
    content: '';
    height: 80px;
    position: absolute;
    width: 80px;
}
/* /Shared/FooterMenu.razor.rz.scp.css */
span[b-edlk0fd1jg] {
    font-size: 18px;
    font-weight: 500;
    color: var(--atMediumGrey);
}

.footer-container[b-edlk0fd1jg] {
    position: fixed;
    background-color: rgba(244, 244, 242, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    width: 100%;
    padding-inline: 24px;
    padding-block: 14px;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    z-index: 1;
}

.footer-social-group[b-edlk0fd1jg] {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

    .footer-social-group a[b-edlk0fd1jg] {
        margin-top: 1px;
        font-size: 28px;
        color: var(--atDark);
        text-shadow: 0px 1px 16px rgb(30, 32, 34, 0.25);
        transition: .25s;
    }

    .footer-social-group a:hover[b-edlk0fd1jg] {
        color: var(--atLightGrey);
    }

@media (max-width: 540px) {
    .footer-container[b-edlk0fd1jg] {
        display: none;
    }
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-q41g9xaw37] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-q41g9xaw37] {
    flex: 1;
}

.main-content[b-q41g9xaw37] {
    position: relative;
    padding-top: 4rem;
}

.main-content[b-q41g9xaw37]::after {
    position: fixed;
    content: "";
    background-color: var(--atWhite);
    background-image: url('../img/general/at-bg-2019.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: screen;
    background-position: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}
/* /Shared/NavigationMenu.razor.rz.scp.css */
.navigation-container[b-btzjcay59q] {
    position: fixed;
    background-color: rgba(244, 244, 242, 0.5);
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-inline: 24px;
    padding-block: 12px;
    justify-content: space-between;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    z-index: 2;
}

.navigation-brand[b-btzjcay59q] {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    pointer-events: none;
}

.navigation-item-group[b-btzjcay59q] {
    display: flex;
    flex-direction: row;
}

.navigation-item-group[b-btzjcay59q] {
    height: 100%;
    align-items: center;
}

[b-btzjcay59q] .nav-link {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    font-weight: 500;
    color: var(--atDark);
    margin-top: 1px;
    gap: 6px;
    padding: 8px 12px;
    text-shadow: 0px 1px 16px rgb(30, 32, 34, 0.25);
    transition: .25s;
}

    [b-btzjcay59q] .nav-link.active {
        color: var(--atSteelBlue);
        pointer-events: none;
    }

    [b-btzjcay59q] .nav-link:hover {
        color: var(--atLightGrey);
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-underline-position: under;
    }

.navigation-item-social-group[b-btzjcay59q] {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
}

    .navigation-item-social-group a[b-btzjcay59q] {
        font-size: 16px;
        color: var(--atMediumGrey);
        text-decoration: none;
        padding: 6px 4px;
    }

.navigation-item-copyright[b-btzjcay59q] {
    color: var(--atWhite);
    font-size: 16px;
    padding-top: 24px;
}

.navigation-toggler[b-btzjcay59q] {
    position: absolute;
    top: 12px;
    right: 24px;
    background-color: transparent;
    border: none;
    font-size: 28px;
    color: var(--atDark);
}

@media (width > 540px) {
    .collapse[b-btzjcay59q] {
        display: block;
    }

    .navigation-toggler[b-btzjcay59q] {
        display: none;
    }

    .navigation-item-social-group[b-btzjcay59q] {
        display: none;
    }

    .navigation-item-copyright[b-btzjcay59q] {
        display: none;
    }    
}

@media (max-width: 540px) {
    [b-btzjcay59q] .nav-link, 
    .navigation-item-copyright[b-btzjcay59q] {
        color: var(--atMediumGrey);
    }

    .navigation-container[b-btzjcay59q] {
        background-color: rgba(244, 244, 242, 0.8);
        flex-direction: column;
        border-bottom: 1px solid var(--atLightGrey);
    }

    .navigation-item-group[b-btzjcay59q] {
        flex-direction: column;
        margin-left: 0;
        padding-top: 16px;
        padding-left: 0;
        border-left: none;
        align-items: flex-start;
    }

    [b-btzjcay59q] .nav-link {
        font-size: 18px;
        padding: 8px 4px;
    }

    .navigation-social-group[b-btzjcay59q] {
        display: none;
    }
}
/* /Shared/NoDataView.razor.rz.scp.css */
.view-container[b-89nbk087lp] {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}
